<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyClause.com</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}" />
</head>
<body>
    <div class="site-body">
        <div class="search-bar">
            <div class="search-bar-input-wrapper">
                <div class="search-bar-input">
                    <div class="search-bar-and-filter-wrapper">
                        <div style="flex-grow:2;position:relative">
                            <input type="text" placeholder="Find your clause..." class="search-bar-input--input" id="search-input">
                            <div class="search-bar-results-wrapper" id="result-list">
                                <div class="search-bar-loading" id="search-loader">
                                    <img src="{{ url_for('static', filename='images/loading.svg')}}" />
                                </div>
                                <div class="search-bar-results" id="result-container">
                                </div>
                            </div>
                        </div>
                        <input type="checkbox" id="activate-own-search" class="checkbox-filter switch" checked>
                        <label for="activate-own-search">Own library only</label>
                    </div>
                    
                </div>
                
                <div class="search-bar-btn">

                </div>
                <div class="search-bar-overlay" id="search-overlay"></div>
            </div>
        </div>
        <div class="result-body">
            <div style="display:none;"><input type="text" id="clause-id"></div>
            <div class="result-body-title">
                <label class="result-body-label" for="title">
                    Title
                </label>
                <input id="title" class="result-body-title--input" type="text">
            </div>
            <div class="result-body-text">
                <label class="result-body-label" for="text">
                    Text
                </label>
                <textarea  class="result-body-text--input" id="text"></textarea>
            </div>
        </div>
    </div>
    <div class="site-sidebar">
        
        <div class="site-sidebar-buttons">
            <div class="site-sidebar-filters">
                <input type="checkbox" class="checkbox-filter switch switch-orange" id="private-repo-check" checked>
                <label for="activate-own-search">Keep private</label>
            </div>
            <div class="site-sidebar-buttons-btn" id="save-as-new">
                <div class="site-sidebar-buttons-btn--icon">
                    <img height="25px" src="{{url_for('static',filename='images/plus-circle-outline.svg')}}" class="sidebar-icon" />
                </div>
                <span class="site-sidebar-buttons-btn--text">Save as new</span>
            </div>
            <div class="site-sidebar-buttons-btn" id="save-existing">
                <div class="site-sidebar-buttons-btn--icon">
                    <img height="25px" src="{{url_for('static',filename='images/save-outline.svg')}}" class="sidebar-icon" />
                </div>
                <span class="site-sidebar-buttons-btn--text">Save</span>
            </div>
            <div class="site-sidebar-buttons-btn" id="delete">
                <div class="site-sidebar-buttons-btn--icon">
                    <img height="25px" src="{{url_for('static',filename='images/close-circle-outline.svg')}}" class="sidebar-icon" />
                </div>
                <span class="site-sidebar-buttons-btn--text">Delete</span>
            </div>
            <div class="site-sidebar-buttons-btn" id="logout">
                <div class="site-sidebar-buttons-btn--icon">
                    <img height="25px" src="{{url_for('static',filename='images/log-out-outline.svg')}}" class="sidebar-icon" />
                </div>
                <span class="site-sidebar-buttons-btn--text">Logout</span>
            </div>

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
</body>
</html>